.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #f8f9fa;
    border-bottom: 1px solid #eaeaea;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    margin-left: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .navbar-right span {
    margin-left: 20px;
    cursor: pointer;
  }
  